@import './../../variable/variable';

header {
    .btn-signup {
        color: $color-dark-2;
        background-color: $color-white-1;
        border: solid 2px $color-blue-4;

        a {
            color: $color-dark-2 !important;
        }

        &:hover {
            color: $color-white-1 ;
            background-color: $color-blue-4 !important;

            a {
                color: $color-white-1 !important;
            }
        }

    }
}

.RegisterPage .container-fluid {
    background-image: url(https://wac-cdn.atlassian.com/dam/jcr:f505eadc-b6e5-4644-b96e-a8136ec63ceb/Hero-IMG-2x.png?cdnVersion=535);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
    margin: 0;

    .form-content {
        background-color: $color-white-1;
        border-radius: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 70%;

    }

    @media screen and (max-width: 992px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
        height: auto;
    }

}